<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.name %></title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
        <meta name="monetization" content="$ilp.uphold.com/N3GyWXpENLq4">
        <meta name="viewport" content="initial-scale=1,width=device-width">
        <link rel="manifest" href="manifest.json">
        <meta name="theme-color" content="<%= htmlWebpackPlugin.options.background_color %>">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="icon" type="image/png" href="icon.png">
        <link rel="apple-touch-icon" href="icon.png">
<style>body{background-color:<%= htmlWebpackPlugin.options.background_color %>;margin:0;}canvas{display:block;}</style>
    </head>
    <body>
        <script inline inline-asset="index" inline-asset-delete></script>
    </body>
</html>
